@import "variables";
@import "menu";
@import "gifs";
@import "textos";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: $Colorcrema;
  overflow-x: hidden;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $Colorfooter;
  color: $Colortextos;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-shrink: 0;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $Colorfooter;
    color: $Colortextos;
    text-align: center;
    
  }
} 